/* GENERELLE REGLER */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regler for alt inde i body */
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: white;
    background-color: orange;
}

p{
    font-weight: lighter;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 120pt;
}

h2{
    font-size: 30pt;
    font-weight: 400;
}

h3{
    font-weight: 400;
}

h5{
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
}
/*---------------------------------------------*/

/* HER STYLES HEADER */
header nav{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    font-weight: bold;
}

#logo{
    padding-left: 20px;
    padding-right: 250px;
}

#social-header{
    padding-right: 20px;
}

nav a {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    text-decoration: underline;
}


/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    left:0;
    background-color: rgba(255, 255, 255, 0.868);
    border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
    display:block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 10px 20px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/*---------------------------------------------*/

/* BURGERMENU */

/* logo rettes på mobil */
#burger {
    display: none;
    padding: 30px;
    align-items: center;
    background-color: orange;
}
#burger i {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    position: relative;
    bottom: 2px;
}
#mobil-logo img {
    width: 300px;
}

/*---------------------------------------------*/

/* HER STYLES BODY*/


/* Forside - Hero billede*/

#hero{
    background-image: url(images/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center center;
}

/* Her styles præsentationssektionen*/

#præsentation{
    background-color: orange;
    color: white;
    text-align: center;
    padding-bottom: 150px;
    padding-top: 100px;
}

#blad1{
    position: absolute;
    right: 0px;
}

#blad2{
    position: absolute;
    left: 0px;
    background-color: orange;
    margin-top: 30px;
}



/* Her styles historiesektionen*/

#linje{
    display: flex;
    justify-content: center;
    font-size: 30pt;
    padding-top: 50px;

}

#linje hr {
    border: 3px white;
    border-style: dashed hidden hidden;
    width: 42%;
    padding-top: 90px;
    margin-top: 15px;
}


#historie{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    gap: 200px;
}

#historiemobil{
    display: none;
}

/* Her styles sektionen med Råstoff*/

#overskrift{
    text-align: center;
    padding-top: 100px;
}

#overskrift h1{
    font-size: 90pt;
    padding-top: 50px;
}


#drink {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
}

#drink a {
    text-decoration: none;
    background-color: #29532A;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

#drink a:hover {
    opacity: 0.8;
  }

#drinkmobil{
    display: none;
}


/* Her styles sektionen med konkurrencen på forsiden*/

#baggrundsbillede {
    background-image: url(images/konkurrence.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center center;
    width: 50%;
}

#konkurrence {
    display: flex;
    justify-content: center;
    background-color: #29532A;
    text-align: center;
    align-items: center;
}

#konkurrence a {
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

#konkurrence a:hover {
    opacity: 0.8;
  }

#tilmeldkonkurrence{
    width: 50%;
    margin: 20px;
}

#tilmeldkonkurrence h2{
    padding-bottom: 40px;
}



/* Her styles sektionen med instagram*/

#instagram {
    text-align: center;
    padding-bottom: 50px;
}

#instagram h2{
    margin: 20px;
    padding-top: 50px;
}

#instagram a {
    margin: 20px;
}

#instagram a:hover{
    opacity: 0.8;
}

/*------------------------------------------------------------------------------*/

/* Forhandler side*/
#forhandler{
    text-align: center;
    margin: 20px;
}

.logoforhandlere{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.logoforhandlere img{
    padding: 20px;
}

/*------------------------------------------------------------------------------*/

/* Produktside*/


.ingredienser {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.ingredienser p {
    padding-bottom: 30px;
}

table{
    width: 100%;
}

table, td {
    border-bottom: 1px dashed black;
    border-collapse: collapse;
  }


/*------------------------------------------------------------------------------*/

/* Tuborg x Råstoff*/

#overskrift2{
    text-align: center;
}

#overskrift2 h1{
    font-size: 90pt;
    padding-top: 50px;
}

#billederflasker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#tekstomsamarbejde {
    text-align: center;
}

#ikonglas {
    font-size: 70pt;
    text-align: center;
    margin: 50px;
}

#overskrift3 {
    text-align: center;
}

#opskrift {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#ingredienser {
    padding-right: 100px;
}

#overskrift4 {
    text-align: center;
    padding-top: 100px;
}

#introkonkurrence {
    text-align: center;
    margin: 50px;
}


.container {
    padding: 10px;
    background-color: orange;
    text-align: center;
  }
  
  /* Styling af input elementer */
  input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Styling af tilmeld knap */
  input[type=submit] {
    background-color: #29532A;
    color: white;
    border: none;
    width: 20%;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  form{
    padding-bottom: 50px;
  }




/*---------------------------------------------*/

/* HER STYLES FOOTER*/

hr {
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    color: white;
    font-size: 10pt;
    height: 100px;
    align-items: center;
}

/* ikoner */
.fa-brands {
    font-size: 25pt;
}
.fa-square-facebook {
    color: white;
}
.fa-instagram {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* BREAKPOINT V. 1050 PX */

@media screen and (max-width: 1050px) {
    /* BURGER */

    /* Her vises burger menu */
    #burger {
        display: flex;
        justify-content: right;
        width: 100%;
        align-items: center;
    }
    /* Logo placeres i midten */
    #mobil-logo {
        margin: auto;
    }
    /* Resten af nav skjules */
   header nav{
        display: none;
   }

    /* Baggrundsbillede rettes */
    #hero {
        height: 700px;
    }

    /* Retning ændres på flexbox på produktsider*/
    .ingredienser{
        flex-direction: column;
    }

    .ingredienser div {
        padding-top: 70px;
    }



}


/* ------------------------------------------------------------------------------------------------------------------- */

/* BREAKPOINT V. 750PX */

@media screen and (max-width: 750px) {
      /* Baggrundsbillede rettes */
      #hero {
        height: 400px;
    }

      /* Skriftstørrelser rettes */

    h1{
        font-size: 80pt;
    }

    #overskrift h1 {
        font-size: 80pt;
    }

    h2{
        font-size: 20pt;
    }

      /* Størrelse på blade rettes */
    #blad1 {
        height: 70px;
    }

    #blad2 {
        height: 70px;
    }

      /* Bredde på test i præsentation rettes */

    #præsentation p {
        margin-left: 30px;
        margin-right: 30px;
    }

    #historie{
        margin-right: 50px;
        margin-left: 50px;
        gap: 100px;
    }


}

/* ------------------------------------------------------------------------------------------------------------------- */

/* BREAKPOINT V. 500PX */

@media screen and (max-width: 500px) {

    /* BURGER */
    
    /* logo gøres mindre og rykkes lidt ned */
    #mobil-logo img {
        width: 230px;
    }

      /* Baggrundsbillede rettes */
      #hero {
        height: 300px;
    }


    /* HISTORIESEKTIONEN ÆNDRER RETNING PÅ MOBIL */
    #linje{
        display: none;
    }

    #historie{
        display: none;
    }

    #historiemobil{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding: 50px 50px;
    }

    #år1936{
        padding-bottom: 20px;
    }

    #år2022 {
        padding-top: 20px;
    }

    #vl {
        border-left: 2px dashed rgb(255, 255, 255);
        height: 100px;
        text-align: center;
        margin: auto;

      }

    /* DRINKSEKTIONEN ÆNDRER RETNING PÅ MOBIL */
    h1{
        font-size: 60pt;
    }

    #overskrift h1 {
        font-size: 60pt;
        padding-bottom: 20px;
    }

    #drink{
        display: none;
    }

    #drinkmobil {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 150px;
    }

    #drinkmobil h2 {
        padding-top: 40px;
    }

    #drinkmobil a {
        text-decoration: none;
        background-color: #29532A;
        color: white;
        padding: 15px;
        border-radius: 15px;
    }

    /* KONKURRENCESEKTIONEN ÆNDRER RETNING PÅ MOBIL */
    
    #konkurrence {
        flex-direction: column;
        padding-top: 20px;
    }

    #tilmeldkonkurrence {
        padding-bottom: 20px;
    }

    #baggrundsbillede{
        width: 100%;
        height: 200px;
        padding-top: 20px;
    }

}